#abcdd{
   display: flex;
    height: 480px;
    /* border: 1px solid #d21e1e; */
}
#xxsd{
    width: 40%;
}

#imggg{
    width: 50%;
    height: 480px;
    /* border: 1px solid #a31010; */
}

#xxsd{
    width: 100%;
    height: 480px;
}

#abdd{
    width: 50%;
    height: 480px;
    background-color: black;
    /* border: 1px solid #4a12b2; */
}
#xuyu{
    position: relative;
    color: white;
    top: 7px;
    line-height: 74px;
    left: 14px;
    font-weight: 900;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 63px;

}
#xyy{
    position: relative;
    top: -21px;
    left: 15px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
    font-size: 30px;
}

#xyza{
    background-color: black;
    position: relative;
    top: -130px;
    border-radius: 15px;
    left: 180px;
    width: 400px;
    height: 110px;
    border: 1px solid #e90c0c;
}
#xyzaa{
    position:absolute;
    top: 5px;
  left: 5px;
    width: 78px;
    height: 95px;
}
#parag{
    position: absolute;
    left: 108px;
    width: 200px;
    top: 25px;
    height: 95px;
    /* border: 1px solid blue; */

}
#strange{
    line-height: 0px;
    font-weight: 800;
    
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
#donwl{
    color:blue;
}
#xyzss{
    position: absolute;
    left: 289px;
    top: 5px;
    width: 100px;
    height: 97px;
    /* border: 1px solid green; */
}